/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("img/space.jpg");
  background-size: cover;
}

/* ---- canvas ---- */

canvas {
  border: 1px solid grey;
}

/* ---- container ---- */

.container {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

/* ---- splash screen ---- */

.btn-inst {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.instructions {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  margin-bottom: 0;
}

.instructionsContent {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.4em;
  margin-top: 0;
  width: 280px;
  line-height: 5vh;
}

.button {
  background-color: transparent;
  border: none;
  background-image: url("img/start-button.png");
  background-size: cover;
  width: 200px;
  height: 200px;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
}

#tetris-logo {
  background-image: url("img/tetris-logo.png");
  background-size: cover;
  height: 450px;
  width: 650px;
  margin-right: 200px;
}

/* ---- game screen ---- */

.lines {
  margin-left: 50px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
}

.score {
  margin-left: 100px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
}

.level {
  margin-left: 100px;
  color: red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
}

/* ---- game over screen ---- */

.button2 {
  background-color: transparent;
  border: none;
  background-image: url("img/start-button.png");
  background-size: cover;
  width: 150px;
  height: 150px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  margin-left: 45%;
}

#gif {
  background-image: url("img/game-over.gif");
  background-size: cover;
  height: 350px;
  width: 1000px;
  margin-left: 13%;
  margin-top: 8%;
}

.lines-game-over {
  float: left;
  margin-top: 8%;
  margin-left: 28%;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
}

.score-game-over {
  margin-left: 100px;
  margin-top: 8%;
  float: left;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
}

.level-game-over {
  margin-left: 100px;
  margin-top: 8%;
  float: left;
  color: red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
}

/* BUTTON */

#toggles,#toggles:before,#toggles:after {
  box-sizing:border-box;
  margin:0;
  padding:0;
  /*transition*/
  -webkit-transition:.25s ease-in-out;
     -moz-transition:.25s ease-in-out;
       -o-transition:.25s ease-in-out;
          transition:.25s ease-in-out;
  outline:none;
  font-family:Helvetica Neue,helvetica,arial,verdana,sans-serif;
  opacity: 0.5;
}
  
#toggles {
  width:60px;
  position: absolute;
  top: 84%;
  right: 18%;
  text-align:center;
}

.ios-toggle,.ios-toggle:active {
  position:absolute;
  top:-5000px;
  height:0;
  width:0;
  opacity:0;
  border:none;
  outline:none;
}

.checkbox-label {
  display:block;
  position:relative;
  padding:10px;
  margin-bottom:20px;
  font-size:12px;
  line-height:16px;
  width:100%;
  height:36px;
  /*border-radius*/
  -webkit-border-radius:18px;
     -moz-border-radius:18px;
          border-radius:18px;
  background:#f8f8f8;
  cursor:pointer;
}

.checkbox-label:before {
  content:'';
  display:block;
  position:absolute;
  z-index:1;
  line-height:34px;
  text-indent:40px;
  height:36px;
  width:36px;
  /*border-radius*/
  -webkit-border-radius:100%;
     -moz-border-radius:100%;
          border-radius:100%;
  top:0px;
  left:0px;
  right:auto;
  background:white;
  /*box-shadow*/
  -webkit-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
     -moz-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
          box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
}

.checkbox-label:after {
  content:attr(data-off);
  display:block;
  position:absolute;
  z-index:0;
  top:0;
  left:-300px;
  padding:10px;
  height:100%;
  width:300px;
  text-align:right;
  color:#bfbfbf;
  white-space:nowrap;
}

.ios-toggle:checked + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
     -moz-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
          box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}

.ios-toggle:checked + .checkbox-label:before {
  left:calc(100% - 36px);
  /*box-shadow*/
  -webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
     -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
          box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
}

.ios-toggle:checked + .checkbox-label:after {
  content:attr(data-on);
  left:60px;
  width:36px;
}

/* GREEN CHECKBOX */
  
#checkbox1 + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
     -moz-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
          box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
}

#checkbox1:checked + .checkbox-label {
  /*box-shadow*/
  -webkit-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
     -moz-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
          box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}

#checkbox1:checked + .checkbox-label:after {
  color:rgba(19,191,17,1);
}